<%- include('./components/partials/header') -%>

<section class="login" data-overlay="1">
    <div class="container">
        <form class="col-md-4 col-xl-4 mx-auto input-border input-glass" action="/login" method="post">
            <center><img class="loginLogo" src="/images/logo/logo192.png" alt=".."></center>
            <h2 class="text-center"> Login </h2>
            <div class="form-group">
                <input class="form-control form-control-lg" name="username" type="text"  placeholder="User Name" required>
            </div>

            <div class="form-group">
                <input class="form-control form-control-lg" name="password" type="password"  placeholder="Password" required>
            </div>

            <button type="submit" class="btn btn-block btn-xl btn-signup">Sign in</button>
        </form>
        <footer class="footerLogin pt-10">
            <p>
                Powered by <a href="http://inchtechs.com">Inchtechs</a>
            </p>
        </footer>
    </div>
</section>


