
<!-- Footer -->
<footer class="footer p-4" style="background: #f1f6f9; position: relative">
    <div class="container text-center">

        <div class="social social-sm social-bg-brand social-cycling">
            <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
            <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
            <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
        </div>

        <br>

        <p class="small">Copyright © <%= new Date().getFullYear()%> <a href="http://inchtechs.com">inchtechs</a>, All rights reserved.</p>

    </div>

</footer><!-- /.footer -->

<!--<div id="popup-autohide" class="popup col-6 col-md-4" data-animation="slide-up" data-autohide="3000">-->
<!--    <button type="button" class="close" data-dismiss="popup" aria-label="Close">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--    <div class="media">-->
<!--        <img class="avatar mr-5" src="../assets/img/avatar/1.jpg" alt="avatar">-->
<!--        <div class="media-body">-->
<!--            <h5>An introduction?</h5>-->
<!--            <p class="mb-0">We'd like to welcome you to our website and hope you have a great time browsing our template.</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- Scripts -->
<script src="/javascripts/page.min.js"></script>
<script src="/javascripts/scripts.js"></script>


</body>
</html>