<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Restaurant</title>

    <!-- Styles -->
    <link href="stylesheets/page.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/images/logo/favicon.ico">
    <link rel="icon" href="/images/logo/favicon.ico">

</head>

<body>
