<!-- Navbar -->
<nav class="navbar navbar-expand-lg" style="background: whitesmoke" data-navbar="fixed">
    <div class="container">
        <div class="navbar-left">
            <button class="navbar-toggler" type="button" data-toggle="offcanvas" data-target="#offcanvas-menu-4">&#9776;</button>
            <a class="navbar-brand" href="/index">
                <img class="logo-light logoSize" src="/images/logo/cooltchop-dark.png" alt="logo">
            </a>
        </div>
        <section class="navbar-mobile">
            <span class="navbar-divider"></span>
            <nav class="nav nav-navbar ml-lg-10">
                <a class="nav-link text-black-50 lead-2 active" href="/index">Menu</a>
                <a class="nav-link text-black-50 lead-2" href="/dessert">Dessert</a>
                <a class="nav-link text-black-50 lead-2" href="/drink">Drinks</a>
                <a class="nav-link text-black-50 lead-2" href="/breakfast">Breakfast</a>
<!--                <a class="nav-link text-black-50 lead-2" href="./reservation">reservation</a>-->
                <a class="nav-link text-black-50 lead-2" href="contact">Contact</a>
            </nav>
        </section>
        <a class="nav-link" href="/cart">
            <span>
                <i class="fa fa-shopping-cart"></i>
                <span id="numItems" class="badge badge-number badge-danger"></span>
            </span>
        </a>
    </div>
</nav>
<!-- /.navbar -->